<!DOCTYPE html>
<html>
<head>
    <title>Royal Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
<nav>
    <a href="/">Home</a>

    {% if session.get("user_id") %}
        <a href="/recipes/">All Recipes</a>
        <a href="/create/">Add Recipe</a>
        <form action="/search/" method="post" style="display:inline;">
            <input type="text" name="query" placeholder="Search recipes" required>
            <button type="submit">Search</button>
        </form>

        {% if session.get("is_admin") %}
            <a href="/admin/dashboard/">Admin Dashboard</a>
        <!-- <form action="/search/" method="post" style="display:inline;">
            <input type="text" name="query" placeholder="Search recipes" required>
            <button type="submit">Search</button>
        </form> -->

        {% endif %}

        <a href="/logout/">Logout</a>
    {% else %}
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
    {% endif %}
</nav>

</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for c, m in messages %}
            <p class="{{ c }}">{{ m }}</p>
        {% endfor %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
</body>
</html>
