{% extends "base.html" %}


{% block content %}

<h2>Users and Their Recipes</h2>

{% for user in users %}
<h3>
    {{ user.username }} (ID: {{ user.id }})

    <form action="/admin/delete-user/{{ user.id }}/"
          method="post"
          style="display:inline;"
          onsubmit="return confirm('Are you sure you want to delete this user? This will remove all their data.');">
        <button type="submit">Delete User</button>
    </form>
</h3>

<table border="1">
    <tr>
        <th>Recipe ID</th>
        <th>Title</th>
        <th>Cuisine</th>
        <th>Action</th>
    </tr>

    {% for recipe in user_recipes.get(user.id, []) %}
    <tr>
        <td>{{ recipe.id }}</td>
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.cuisine }}</td>
        <td>
            <form action="/admin/delete-recipe/{{ recipe.id }}/" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                    <button type="submit">Delete</button>
            </form>

            <a href="/update/{{ recipe.id }}/">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endfor %}

{% endblock %}